In [35]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report

In [36]:
url = "https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv"
titanic = pd.read_csv(url)
titanic.columns = [ "PassengerId ", "Survived ", "Pclass ", "Name ", "Sex ", "Age ", "SibSp ", "Parch ", "Ticket ", "Fare ", "Cabin ", "Embarked "]

In [37]:
titanic.shape

(891, 12)

In [38]:
titanic.isna().sum()

PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age             177
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin           687
Embarked          2
dtype: int64

In [39]:
titanic.columns

Index(['PassengerId ', 'Survived ', 'Pclass ', 'Name ', 'Sex ', 'Age ',
       'SibSp ', 'Parch ', 'Ticket ', 'Fare ', 'Cabin ', 'Embarked '],
      dtype='object')

In [40]:
df = titanic.drop(["Cabin ","PassengerId ", "Name ", "Ticket ", "Embarked " ], axis=1)

In [41]:
df.isna().sum()

Survived       0
Pclass         0
Sex            0
Age          177
SibSp          0
Parch          0
Fare           0
dtype: int64

In [42]:
df.describe()

        Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [43]:
df["Age "].fillna(df["Age "].mean(), inplace=True)
df = df.dropna()

In [44]:
df.head()

   Survived   Pclass     Sex   Age   SibSp   Parch     Fare
0          0        3    male  22.0       1       0   7.2500
1          1        1  female  38.0       1       0  71.2833
2          1        3  female  26.0       0       0   7.9250
3          1        1  female  35.0       1       0  53.1000
4          0        3    male  35.0       0       0   8.0500

In [48]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["Sex "] = le.fit_transform(df["Sex "])

In [51]:
y = df['Survived ']
X= df.drop(['Survived '], axis=1)
X.shape, y.shape

((891, 6), (891,))

In [56]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.33, random_state=0)

In [57]:
from sklearn.tree import DecisionTreeClassifier


model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [58]:
pred = model.predict(X_test)
metrics.accuracy_score(y_test, pred)

0.8101694915254237